.menu-container {
  position: fixed;
  top: 0;
  left: 28%;
  width: 75%;
  height: 100%;
  background-color: #fff;
  display: none;

  padding-left: 40px;

  &.is-open {
    display: block;
  }

  & {
    background: $white;

    margin-left: auto;
    cursor: pointer;
  }

  @media screen and (min-width: 768px) {
    & {
      display: none;
    }

    &.is-open {
      display: none;
    }
  }

  @media screen and (min-width: 600px) {
    & {
      left: 35%;
    }
  }
}

.icon-cross {
  opacity: 0;
}

.menu-button {
  border: none;
  background-color: inherit;

  position: absolute;
  z-index: 2;

  &__icon {
    fill: $white;
  }

  &:hover .menu-button__icon,
  &:focus .menu-button__icon {
    fill: $accent;
  }

  &.is-open .icon-cross {
    opacity: 1;
  }

  &.is-open .icon-menu {
    opacity: 0;
  }

  &.is-open .menu-button__icon {
    fill: $title;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.header__button--wraper .menu-button.is-open {
  position: fixed;
}
