/*Colors*/
$accent: #ff6c00;
$title: #303030;
$white: #ffffff;
$button-bg: #303030;
/*Color on white bg - wb*/
$wb-text: #555555;
/*Color on dark bg - db*/
$db-title: rgba(157, 164, 189, 0.6);
$db-text: #9da4bd;
/*Back ground color - bg*/
$bg-primary: #191c26;
$bg-secondary: #f7f7f7;
$bg-white: #ffffff;
/*Back ground linear gradients*/
$overlay-header: rgba(25, 28, 38, 0.2);
$overlay-price: rgba(17, 19, 25, 0.8);
$ovarlay-footer: #191c26;
